<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="53000" id="ir.feghi.lmsapp" ios-CFBundleVersion="5.3.0.0" version="5.3.0" versionCode="53000" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>فقهی‌اپ</name>
    <description>اپلیکیشن رسمی فقهی‌اپ</description>
    <author email="vahidadibazad@msn.com" href="icit.ir">ICIT Mobile team</author>
    <content src="index.html" />
    <access origin="*" />
    <access launch-external="yes" origin="tel:*" />
    <access launch-external="yes" origin="mailto:*" />
    <access launch-external="yes" origin="geo:*" />
    <allow-navigation href="feqhiappfs:*" />
    <allow-navigation href="cdvfile:*" />
    <allow-navigation href="content:*" />
    <allow-navigation href="data:*" />
    <allow-navigation href="http://2.180.39.20/*" />
    <allow-navigation href="https://2.180.39.20/*" />
    <allow-navigation href="http://localhost/*" />
    <allow-navigation href="https://localhost/*" />
    <allow-intent href="*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <hook src="scripts/cordova-hooks/before_plugin_add.sh" type="before_plugin_add" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="stay-in-webview" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="AppendUserAgent" value="feqhiMobile 5.3.0 (53000)" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="ScrollEnabled" value="true" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <preference name="HideKeyboardFormAccessoryBar" value="false" />
    <preference name="KeyboardResizeMode" value="none" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="LoadUrlTimeoutValue" value="60000" />
    <preference name="load-url-timeout" value="60000" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="FadeSplashScreenDuration" value="500" />
    <preference name="android-minSdkVersion" value="24" />
    <preference name="android-targetSdkVersion" value="34" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="AndroidInsecureFileModeEnabled" value="true" />
    <preference name="CustomURLSchemePluginClearsAndroidIntent" value="true" />
    <preference name="deployment-target" value="15.0" />
    <preference name="iosPersistentFileLocation" value="Compatibility" />
    <preference name="scheme" value="https" />
    <preference name="iosScheme" value="feqhiappfs" />
    <preference name="WKWebViewOnly" value="true" />
    <preference name="WKFullScreenEnabled" value="true" />
    <preference name="AndroidXEnabled" value="true" />
    <preference name="GradlePluginGoogleServicesEnabled" value="true" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#FFFFFF" />
    <preference name="NavigationBarBackgroundColor" value="#FFFFFF" />
    <preference name="AndroidEdgeToEdge" value="true" />
    <preference name="Debugging" value="true" />
    <preference name="AndroidInsecureFileModeEnabled" value="true" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <platform name="android">
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="resources/android/android-splash.xml" />
        <preference name="AndroidWindowSplashScreenBackground" value="#FFFFFF" />
        <preference name="AndroidWindowSplashScreenIconBackgroundColor" value="#FFFFFF" />
        <resource-file src="google-services.json" target="app/google-services.json" />
        <resource-file src="resources/android/icon/drawable-ldpi-smallicon.png" target="app/src/main/res/mipmap-ldpi/smallicon.png" />
        <resource-file src="resources/android/icon/drawable-mdpi-smallicon.png" target="app/src/main/res/mipmap-mdpi/smallicon.png" />
        <resource-file src="resources/android/icon/drawable-hdpi-smallicon.png" target="app/src/main/res/mipmap-hdpi/smallicon.png" />
        <resource-file src="resources/android/icon/drawable-xhdpi-smallicon.png" target="app/src/main/res/mipmap-xhdpi/smallicon.png" />
        <resource-file src="resources/android/xml/network_security_config.xml" target="app/src/main/res/xml/network_security_config.xml" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:allowBackup="false" android:largeHeap="true" android:networkSecurityConfig="@xml/network_security_config" android:usesCleartextTraffic="true" />
        </edit-config>
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application/activity">
            <activity android:enableOnBackInvokedCallback="false" android:exported="true" />
        </edit-config>
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <meta-data android:name="firebase_analytics_collection_deactivated" android:value="true" />
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-feature android:name="android.hardware.bluetooth" android:required="false" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
            <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
        </config-file>
    </platform>
    <platform name="ios">
        <resource-file src="GoogleService-Info.plist" />
        <edit-config file="*-Info.plist" mode="merge" target="NSCameraUsageDescription">
            <string>We need camera access to take pictures so you can use them for changing your profile picture, attach them in your tasks submission and share them with the teachers.</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryUsageDescription">
            <string>We need photo library access to get pictures from there so you can use them for changing your profile picture, attach them in your tasks submission and share them with the teachers.</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSAppTransportSecurity">
            <dict>
                <key>NSAllowsArbitraryLoads</key>
                <true />
                <key>NSExceptionDomains</key>
                <dict>
                    <key>2.180.39.20</key>
                    <dict>
                        <key>NSExceptionAllowsInsecureHTTPLoads</key>
                        <true />
                        <key>NSIncludesSubdomains</key>
                        <true />
                    </dict>
                </dict>
            </dict>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="UISupportsDocumentBrowser">
            <true />
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="CFBundleShortVersionString">
            <string>5.3.0</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="overwrite" target="CFBundleLocalizations">
            <array>
                <string>en</string>
                <string>fa</string>
            </array>
        </edit-config>
        <config-file parent="FIREBASE_ANALYTICS_COLLECTION_DEACTIVATED" target="*-Info.plist">
            <string>YES</string>
        </config-file>
        <config-file parent="UISupportedInterfaceOrientations" target="*-Info.plist">
            <array>
                <string>UIInterfaceOrientationPortrait</string>
                <string>UIInterfaceOrientationPortraitUpsideDown</string>
                <string>UIInterfaceOrientationLandscapeLeft</string>
                <string>UIInterfaceOrientationLandscapeRight</string>
            </array>
        </config-file>
        <config-file parent="UISupportedInterfaceOrientations~ipad" target="*-Info.plist">
            <array>
                <string>UIInterfaceOrientationPortrait</string>
                <string>UIInterfaceOrientationPortraitUpsideDown</string>
                <string>UIInterfaceOrientationLandscapeLeft</string>
                <string>UIInterfaceOrientationLandscapeRight</string>
            </array>
        </config-file>
        <config-file parent="UIRequiresFullScreen" target="*-Info.plist">
            <false />
        </config-file>
        <config-file parent="NSCrossWebsiteTrackingUsageDescription" target="*-Info.plist">
            <string>This app needs third party cookies to correctly render embedded content from the feqhi site.</string>
        </config-file>
        <config-file parent="ITSAppUsesNonExemptEncryption" target="*-Info.plist">
            <false />
        </config-file>
    </platform>
</widget>